@tailwind base;
@tailwind components;
@tailwind utilities;

/* Palette: https://coolors.co/d0b8ac-f3d8c7-efe5dc-fbfefb-ffffff  */
body {
  @apply bg-[#EFEFEF];
}
section {
  @apply p-4 relative;
}
.wave {
  position: absolute;
  bottom: -0.2%;
  top:5;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 106px;
}

.transition-transform {
  transition-duration: 450ms;
}
.sidebar li {
  @apply m-2 flex items-center;
}
