@tailwind base;
@tailwind components;
@tailwind utilities;

/*Palette: https://coolors.co/d0b8ac-f3d8c7-efe5dc-fbfefb-ffffff  */
body {
  @apply bg-[#EFEFEF];
}
section {
  @apply p-4 relative;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 106px;
}
